/* Andrew Reeson */
/* 2/21/21 */
/* bioSite: Development */


@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@300;500;700&family=Quattrocento:wght@400;700&display=swap);

/* Main Page */
html {
    background-color: #ede5d8aa;
}

#page-container {
    position: relative;
    min-height: 100vh;
    margin-top: 0px;

}

#content-wrap {
    padding-bottom: 5rem;
    margin-left: 100px;
    margin-right: 100px;
}


/* Nav Bar */
nav {
    background-color: #eadecf;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

nav li {
    font-weight: 300;
    font-size: 18px;
    display: inline-block;
}

nav a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Oswald;
}

nav li a:hover {
    background-color: #b9894b;
}

nav li a:active {
    color: black;
}

nav a {

    padding-left: 10px;
    text-decoration: none;
    color: black;
}


/* Pic/text side by side */
.aligned {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

span {
    padding: 40px;
    padding-right: 10%;
}

img {
    height: 460px;
}

#contact {
    padding: 40px;
    padding-right: 10%;
    padding-left: 15%;
    text-align: center;
}


/* Home Page Images */
#image-gallery {
    display: flex;
    justify-content: center;
}

#image-gallery img {
    height: 250px;
}

figcaption {
    text-align: center;
    font-style: italic;
    font-size: .75em;
}

/* Hobbies Section*/
.aligned {
    display: flex;
    align-items: center;
}

.aligned span {
    padding: 40px;
}

.aligned img {
    height: 500px;
    box-shadow: 5px 10px 15px 0px #b9894b;
    float: right;
}

/* Fonts */
h1 {
    text-align: center;
    font-weight: 300;
    font-size: 50px;
    font-family: Oswald;
    background-color: #eadecf;
}

header h1 {
    font-weight: 300;
    font-size: 50px;
    font-family: Oswald;
}

h2 {
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    font-family: Oswald;
}

#contact span {
    text-align: center;
    font-weight: 300;
    font-size: 15px;
    font-family: Oswald;
}

p {
    text-align: center;
    font-weight: 300;
    font-family: Arial;
}

/* Footer */
footer {
    background-color: #eadecf;
    font-family: Oswald;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    padding-bottom: 10px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

footer li {
    font-weight: 300;
    font-size: 15px;
    display: inline-block;
}

footer a {
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

footer li a:active {
    color: black;
}

footer a {

    padding-left: 10px;
    text-decoration: none;
    color: black;
}

footer a:hover {
    color: #b9894b;
}

footer p {
    padding-bottom: 10px;
    font-size: 13px;
    padding-top: 10px;
    margin: 0;
}